{% extends "base.html" %}

{% block contenido %}

<div class="panel inventario-panel">
    

<h1>📦 Inventario por voz</h1>

<div class="bloque">

<h3>🎤 Transcripción</h3>
<div id="transcripcion"></div>

</div>

<div class="bloque">

<h3>🧠 Respuesta</h3>
<div id="respuesta"></div>

</div>

<div class="bloque">

<h3>📦 Inventario temporal</h3>

<table>

<thead>
<tr>
<th>Producto</th>
<th>Cantidad</th>
</tr>
</thead>

<tbody id="inventario">
</tbody>

</table>

</div>

<div class="botones">

<button onclick="window.location.href='/dashboard'">
⬅ Dashboard
</button>

<button onclick="limpiarInventario()">
🧹 Limpiar
</button>

</div>

</div>

<script src="/static/js/inventario.js"></script>

{% endblock %}